#userSlider .usercard__title {
    color: #7a7a7a;
    font-size: 18px;
    line-height: 26px;
}

#userSlider .usercard__info {
    color: #7a7a7a;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}

#userSlider .usercard__border {
    border: 2px dashed #ecf6fc;
    border-radius: 20px;
    padding: 5px;
}

#userSlider .user__slider {
    padding-top: 150px;
}

#userSlider .user__card {
    border-radius: 20px !important;
    padding: 12px;
    position: relative;
    background-color: white !important;
}

#userSlider .userimg__wrapper {
    width: 212px;
    height: 212px;
    border-radius: 100%;
    background: linear-gradient(213.88deg, #b1e2ff -67.78%, #68c7ff 175.48%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: -130px auto 0;
    transition: all 0.2s linear;
}
#userSlider .userimg__wrapper img {
    left: calc(50% - 72.5px);
}

#userSlider .user__card:hover .userimg__wrapper {
    background: #e52732;
}

#userSlider .swiper-button-next,
#userSlider .swiper-button-prev {
    width: 38px;
    height: 38px;
    background: linear-gradient(322.12deg, #b1e2ff 1.25%, #68c7ff 89.56%) !important;
    border-radius: 25px;
    top: auto !important;
    bottom: 120px;
} 
#userSlider .swiper-button-next {
    right: -10px;
}
#userSlider .swiper-button-prev {
    left: -10px;
}

/*media*/
@media (max-width: 576px) {
    #userSlider .usercard__title {
        font-size: 14px;
    }

    #userSlider .usercard__info {
        font-size: 10px;
    }
}
@media screen and (max-width: 1400px) {
    .city_slide_text p:nth-child(2) {
        display: none;
    }
}